html {
    --background-color: #ede7f6;
    --primary-color: rgb(103, 58, 183);
    --dark-primary: rgb(80, 46, 140);
}

body {
    background-color: var(--background-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--dark-primary);
    border-color: var(--dark-primary);
}

.top-bar {
    background-color: var(--primary-color);
    height: 278px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container {
    z-index: 1;
    padding-top: 178px;
}

.main-area {
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin: 0 auto 100px;
    padding: 34px;
}

.decorative-bar {
    width: 100%;
    height: 8px;
    background-color: rgb(174, 121, 255);
    position: absolute;
    top: 0;
    left: 0;
}

.question {
    padding: 16px 0;
}

.question-text {
    font-size: 20px;
}

.answer {
    margin: 10px 0;
}

.answer-text {
    margin-left: 12px;
}

@media (max-width: 660px) {
    .top-bar {
        height: 122px;
    }
    .container {
        padding-top: 73px;
    }
}

.best-cat-img {
    height: 200px;
}
